{% set form = mediaForm %}

{{ include('_components/Molecule/form/_standalone_form.html.twig', {
    fields: [
        include('_components/Atom/form/_upload-field.html.twig', {formRow: mediaForm.media, label: "Ajouter un fichier"}),
    ],
    deleteRoute: 'app_media_delete'
}) }}
<div class="rounded-4 overflow-hidden w-75">
    <img src="{{ asset('build/'~mediaForm.vars.value.mediaPath) }}" alt="" class="img-fluid">
</div>
