<section class="row">
    <div class="col-sm-3">
        {% for option in options %}
            {{ option|raw }}
        {% endfor %}
        {{ include('_components/_button.html.twig', {label: "Enregistrer", colorClass: "primary", icon: "check", type: 'submit'}) }}
    </div>
    <div class="col-sm-9">
        {% for field in fields %}
            {{ field|raw }}
        {% endfor %}
    </div>
</section>
