{% extends 'admin-base.html.twig' %}

{% block title %}
    {{ parent() }}
    Tableau de bord
{% endblock %}

{% block body %}
    <main class="container">
        {{ include('_components/Organism/form/_form_lodging.html.twig', {save: false, edit: false, delete: true}) }}
    </main>
{% endblock %}
