.horizontal-scroll-container-x {
  overflow-x: auto !important;
  white-space: nowrap !important;
}

.horizontal-scroll-container-y {
  overflow-y: visible !important;
}

.horizontal-scroll-item {
  display: inline-block !important;
  padding: 0 5px 0 5px;
}