<div {{ vue_component('AdminDatatable', {
    'filters': [statuses],
    'filterProperty': 'name',
    'filterDefault': 'PENDING',

    'items': reservations,
    'itemsFilterByProperty': 'reservationStatus',

    'label': 'Status'
}) }}></div>