{% extends 'admin-base.html.twig' %}

{% block title %}
    {{ parent() }}
    Business
{% endblock %}

{% block body %}

    {% set datatables = {
        'reservations': {
            'settings': reservationFilters,
            'items': reservations,
            'name': 'Reservations',
            'component': 'AdminReservationRequests'
        },
        'users': {
            'settings': userFilters,
            'items': users,
            'name': 'Clients',
            'component': 'AdminUsers'
        }
    } %}

    <div {{ vue_component('admin/AdminBusinessTemplate', {
        datatables: datatables
    }) }}></div>
{% endblock %}
