{% extends 'admin-base.html.twig' %}

{% block title %}
    {{ parent() }}
    Tableau de bord
{% endblock %}

{% block body %}
    <main class="container">
        {{ include('admin/dashboard/_reservation-request.html.twig') }}
    </main>
{% endblock %}
