{% extends 'admin-base.html.twig' %}

{% block title %}
    {{ parent() }}
    Business
{% endblock %}

{% block body %}
    <div {{ vue_component('admin/AdminManagement', {
        datatables: datatables
    }) }}></div>
{% endblock %}
