<div class="form-floating">
    {{ form_help(formRow) }}
    {{ form_errors(formRow) }}
    {{ form_widget(formRow, {
        'attr': {
            'class': 'form-control',
            'placeholder': placeholder|default('Add placeholder'),
            'type': 'datetime'
        }
    }) }}
    {{ form_label(formRow, label|default('Add label')) }}
</div>
