<div class="form-floating">
    {{ form_help(formRow) }}
    {{ form_errors(formRow) }}
    {{ form_widget(formRow, {
        'attr': {
            'class': 'form-control rounded-4',
            'placeholder': placeholder|default('Add placeholder'),
            'style': 'height: '~height|default('200')~'px;'
        }
    }) }}
    {{ form_label(formRow, label|default('Add label')) }}
</div>
