{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    Tableau de bord
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-2">
            <nav {{ vue_component('user/UserNavBar', {
                'navigation': navigation.getUserNavigation
            }) }} class="sticky-top"></nav>
        </div>
        <div class="col">
            <div {{ vue_component('user/UserConversations', {
                user: user,
            }) }}>{{ include('_components/Atom/_spinner.html.twig') }}</div>
        </div>
    </div>
{% endblock %}